extends ../layout

block content
  .card
    h1 New Project
    form(method='POST', action='/projects')
      .form-group
        label(for='name') Name: *
        input(type='text', name='name', required=true, placeholder='Project name')
      .form-group
        label(for='description') Description:
        textarea(name='description', placeholder='Project description')
      .form-group
        label(for='price') Price:
        input(type='number', name='price', placeholder='0')
      .form-group
        label(for='finishedWork') Finished Work:
        textarea(name='finishedWork', placeholder='Work completed so far')
      .form-group
        label(for='startDate') Start Date:
        input(type='date', name='startDate')
      .form-group
        label(for='endDate') End Date:
        input(type='date', name='endDate')
      .form-actions
        button.btn(type='submit') Create Project
        a.btn.btn-secondary(href='/projects/my' style='margin-left: 10px;') Cancel
